a {
  color: skyblue !important;
}
.heading {
  text-align: center;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.question-list {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
}
.question-list h4 {
  margin: 0;
  padding: 0;
}
.question-list a,
.question-title {
  font-size: 18px;
  text-decoration: none;
  color: rgb(43, 147, 189) !important;
}
.answer-wrapper {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
}
.my-question {
  display: flex;
  justify-content: space-between;
}
